<nav class="navbar">
  <h1>Easy League</h1>
  <h2>Manager login</h2>
  <div class="login">
    <form form class="login" action="/login" method="POST">  
      <label>Email<input type="text" id="league" name="manager[email]"></label>
      <label>Password<input type="text" id="league" name="manager[password]"></label>
      <input type="submit" id='manager'value= "find">
    </form>
  </div>
</nav>
