<%= erb :_navbar%>
<div class="container">

<form form id="search" action="/create_league" method="POST">  
 <input type="text" value="name" label="name"id="league" name="league[name]">
 <input type="text" value="age" label="age"id="league" name="league[age]">
 <input type="submit" value= "create">
</form> 
</div>
