<div class="container">
  <h1>Welcome to Sports!</h1>
  <p>Hello, world!</p>
<form form id="search" action="/search" method="POST">  
 <input type="text" id="league" name="league">
 <input type="text" id="league" name="team">
 <input type="submit" value= "find">
</form> 
</div>
<a href="/create_league" id="create_league">create league </a>

<ul>
  <% League.all.each do |x|%>
  <li></li>
 

</ul>
