<%= erb :_navbar%>
<div class="container">
  <h1>Search Leagues</h1>
 
<form form id="search" action="/search" method="POST">  
 <input type="text" id="league" name="league">
 <input type="text" id="league" name="team">
 <input type="submit" value= "find">
</form> 








</div>


