
<div class="container">
<h1>Welcome <%= @manager.username%></h1>

<ul>
  <%@manager.leagues.each do |l|%>
  <li><a href="/league/<%= l.id%>"><%= l.name%></a></li>
  <%end%>
</ul>
<a href="/create_league" id="create_league">create league </a>
<form action="/money" method="POST">
  <script
    src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
    data-key="pk_test_cRQi2yhYmYgefs9Jipl2Sn79"
    data-amount="2000"
    data-name="Demo Site"
    data-description="2 widgets ($20.00)"
    data-image="/128x128.png">
  </script>
</form>




</div>


